<div class="post">
  <h4>{{commentCtrl.post_msg.title}}</h4>

  {{commentCtrl.post_msg.post}}
  <br>
  <a href={{commentCtrl.post_msg.url}} target="_blank">{{commentCtrl.post_msg.url}}</a>
  <br>
  <p>
    <div class="votes" ng-click="commentCtrl.upvote()" ng-model="likes"><i class="fa fa-thumbs-o-up"></i>{{commentCtrl.post_msg.likes}}</div>
    <div class="votes" ng-click="commentCtrl.downvote()" ng-model="dislikes"><i class="fa fa-thumbs-o-down"></i>{{commentCtrl.post_msg.dislikes}}</div>
  </p>
  <form ng-submit='commentCtrl.userComment()'>
    <textarea id="commentBox" type="text" placeholder="Comment Here" ng-model="commentCtrl.newComment"></textarea>
    <br>
    <input id="commentSubmitBtn" type="submit" id="submit" value="Submit" class="btn btn-primary" />
  </form>
  <div>
    <h4 id="commentHeader">Comments</h4>
    <div class="comments" ng-repeat="comment in commentCtrl.post_msg.comment">
      {{comment.body}}
    </div>

  </div>


</div>
