<h1>New to Recoddit? Sign up!</h1>

<form action="" ng-controller="LoginController as loginCtrl" ng-submit="signUp()">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Password">
    <button type="submit" >SignUP</button>
  </div>


</form>

<h1>Already a member? Well sign in!</h1>

<form action="" ng-controller="LoginController as loginCtrl" ng-submit="login()">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Password">
    <button type="submit">LogIN</button>
  </div>
</form>
