<h3>Login with Facebook</h3>

<!-- <fb:login-button scope="public_profile,email" onlogin="loginControl.checkLoginState();">
</fb:login-button> -->

<!-- <fb:login-button scope="public_profile,email" ng-click="loginControl.checkLoginState();">
</fb:login-button> -->

<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>

<!-- <a href="/logout" onclick="FB.logout();">Logout</a> -->
<!-- <div ng-click="loginControl.logout();">Logout</div> -->

<div id="status"></div>
